@import 'montserrat';

$typography-font-family: 'Montserrat', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$primary   : #26A69A ;
$secondary : #1976D2;
$accent    : #9b59b6;

$dark      : #2c3e50;
$dark-page : #2c3e50;

$positive  : #2ed573;
$negative  : #ff6348;
$info      : #70a1ff;
$warning   : #f1c40f;
